<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería</title>
  <link rel="stylesheet" href="/css/galeria.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="galeria.html">Galería</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="galeria-contenedor">
      <div class="galeria-carrusel">
        <img src="" alt="Imagen">
      </div>
      <button class="flecha-izquierda">&#10094;</button>
      <button class="flecha-derecha">&#10095;</button>
    </section>
  </main>
  <footer>
    <div class="footer-container">
      <div class="social-media">
        <a href="#" target="_blank"><img src="/Imágenes/facebook.png" alt="Facebook"></a>
        <a href="#" target="_blank"><img src="/Imágenes/instagram.jpg" alt="Instagram"></a>
        <a href="#" target="_blank"><img src="/Imágenes/x.png" alt="Twitter"></a>
      </div>
      <div class="company-info">
        <p>Avenida de la Gavia, Madrid</p>
      </div>
      <div class="legal-notice">
        <p>&copy; 2025 Serving Cake. Todos los derechos reservados.</p>
        <p><a href="aviso-legal.html">Aviso Legal</a> | <a href="politica-privacidad.html">Política de Privacidad</a></p>
      </div>
    </div>
  </footer>
  <script src="/js/galeria.js"></script>
</body>
</html>
